body {
  background-color: #ffffff;
}

h1 {
  color: #bc7100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 10rem;
  font-weight: bold;
  font-size: 1;
}

h3 {
  color: white;
}

about {
  color: white;
}

.line {
  width: 500px;
  height: 6px;
  background-color: #999999;
}

.deskss {
  text-align: center;
}

.center {
  margin-left: 450px;
  margin-right: 450px;
}
